# Data Science Tools and Ecosystem

## Introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- Some of the popular languages for data science include Python, R, and SQL.
- Jupyter Notebooks allow users to write and execute code, view visualizations, and add text explanations all in one place.
- Markdown cells can be used to create structured text in notebooks. Headings can be created using the # symbol, and lists can be created using either bullets or numbers.
- Python can be used to evaluate simple and complex arithmetic expressions using operators such as +, -, *, /, and %.
- Python can be used to convert between different units of measurement, such as converting minutes to hours.

## Some of the popular languages that Data Scientists use are:

1. Julia
2. Python
3. R

## Some of the commonly used libraries used by Data Scientists include:

1. Matplotlib
2. NumPy
3. Pandas

| Data Science Tools | 
|----------|
| Jupyter Notebooks | 
| R Studio | 
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
# This is a simple arithmetic expression to multiply then add integers 

(3*4)+5

17

In [10]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author

Michael Piatek